<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
<!--
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
-->     
      
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<!--
    <script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
-->    
    
 
   
 	<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" th:src="@{/js/commonUtil.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataApi.js}"></script>
    <script type="text/javascript" th:src="@{/js/data.js}"></script>
    
    


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>User Search</title>
</head>
<body>

<div class="container">
    <form id="refreshForm">
        <button class="btn btn-sm btn-primary btn-block" type="submit">Refresh</button>
    </form>
</div><!-- /container -->
<div class="container">
    <table class="table" id="couponTable">
        <thead>
            <th>ID</th>
            <th>User Name</th>
            
            <th>Created Time</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

</body>
</html>